.user-name-top{
    margin-top: 22px;
}

.project-range {
    font-family: "Times New Roman",Georgia,Serif;
    font-weight: bold;
    font-size: 20px;
    margin-left:15px;
}

.project-company-top{
    margin-top: 0px;
}

.paragraph-indent {
    text-indent: 2em;
}

p {
    font:500 15px/1.8 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}

.img-circle {
    border-radius: 25px;
}

img.profile {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    
    -webkit-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.7), 0px 0px 30px 8px rgba(0, 0, 0, 0.25);
}

img.profile:hover {
    /*顺时针旋转10度 并放大1.2倍*/
    -moz-transform: rotate(10deg) scale(1.2,1.2);
    -webkit-transform: rotate(10deg) scale(1.2,1.2);
    -o-transform: rotate(10deg) scale(1.2,1.2);
    -ms-transform: rotate(10deg) scale(1.2,1.2);
    transform: rotate(10deg) scale(1.2,1.2);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;  
/*动画效果    -webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;*/
}

img.project {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

img.project:hover {
    /*顺时针旋转10度 并放大1.5倍*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -o-transform: scale(1.5,1.5);
    -ms-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;  
/*动画效果    -webkit-animation: profile-img-hover 1000ms ease-out 100ms infinite forwards;*/
}



.first-upper:first-letter {
    font-size: 115%;
    padding-right: 1px; 
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url("/static/images/top.png") no-repeat;
}

.left-img {
    padding: 40px 0 20px 30px;
    margin-left: 0px;
    background-color: #e3e1ec;
    border-radius: 6px 0px 0px 6px;
}

.right-word {
    padding-top: 40px;
}

.skill-list p{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 18px;
    font-weight: bold;
}

#skills h3 {
    margin-left: 25px;
}

/* = 覆盖bootstrap.css中的类（本css必须在其后引用）
----------------------------------------------- */
.carousel {
    margin-bottom: 0;
}

#education .carousel-inner:hover {
    -webkit-filter: grayscale(0.8);/*滤镜*/
    -webkit-transform: translateZ(0);
}

#education .carousel-inner, 
#education .carousel-inner > .item > img, 
#education .carousel-inner > .item > a > img {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* = 动画 Animations
----------------------------------------------- */
@-webkit-keyframes profile-img-hover {
    0% {
        -webkit-transform: rotate(0);
    }
    23% { 
        -webkit-transform: rotate(18deg);
    }
    25% { 
        -webkit-transform: rotate(20deg);
    }
    50% { 
        -webkit-transform: rotate(0);
    }
    73% { 
        -webkit-transform: rotate(-18deg);
    }
    75% { 
        -webkit-transform: rotate(-20deg);
    }
    100% { 
        -webkit-transform: rotate(0);
    }
}
