.user-name-top{
    margin-top: 22px;
}

.project-range {
    font-family: "Times New Roman",Georgia,Serif;
    font-weight: bold;
    font-size: 20px;
    margin-left:15px;
}

.project-company-top{
    margin-top: 0px;
}

.paragraph-indent {
    text-indent: 2em;
}

p {
    font:500 15px/1.8 'Optima','Songti SC','Verdana','Microsoft Yahei',simsun,serif;
}

.first-upper:first-letter {
    font-size: 115%;
    padding-right: 1px; 
}

.right-word {
    padding-top: 40px;
}


