div#edit-resume.modal.hide.fade
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
            h3
                | edit resume
        div.modal-body
            form#edit-resume-form(action='/resumes/#{resume.id}', method='POST')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-name') Name:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-edit
                                input#edit-name(type='text',size='22',name='resume_name')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-email') Email:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-envelope
                                input#edit-email(type='text',size='22',name='email')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-age') Age:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-edit
                                input#edit-age(type='text',size='22',name='age')
                div.span5
                    div.row
                        div.span1
                            | Gender:
                        div.span1.radio-width
                            label.radio
                                input#genderRadios1(type='radio',name='genderRadios',value='男')
                                | 男
                        div.span1.radio-width.next-radio 
                            label.radio
                                input#genderRadios2(type='radio',name='genderRadios',value='女')
                                | 女
                div.span5
                    div.row
                        div.span1
                            label(for='edit-address') Address:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-home
                                input#edit-address(type='text',size='22',name='address')
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') 关闭
            button#btn-edit-resume-submit.btn.btn-primary 保存