div#edit-education.modal.hide.fade
        div.modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
            h3
                | edit education
        div.modal-body
            form#edit-education-form(action='/resumes/#{allInfo.resume.id}/education/', method='POST')
                input#education-list-index(type='hidden', name='edit_index', value='')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university') University:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-home
                                input#edit-university(type='text',name='edit_university')
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-period-from') From:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-calendar
                                input#edit-university-period-from.form_datetime(type='text',name='edit_university_period_from',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-period-to') To:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-calendar
                                input#edit-university-period-to.form_datetime(type='text',name='edit_university_period_to',readonly)
                div.span5
                    div.row
                        div.span1
                            label(for='edit-university-major') Major:
                        div.span4.controls
                            div.input-prepend
                                span.add-on
                                    i.icon-thumbs-up
                                input#edit-university-major(type='text',name='edit_university_major')
                
        div.modal-footer
            button.btn(data-dismiss='modal',aria-hidden='true') 关闭
            button#btn-edit-education-submit.btn.btn-primarys 保存