extends account-layout

block title
    | login

block main-content
    div.container
        form#login-form.form-signin(action='/login',method='POST')
            h2.form-signin-heading
                | Please sign in
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-envelope
                        input#input-email.input-block-level(type='text',placeholder='Email',name="email")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password.input-block-level(type='password',placeholder='Password',name="password")
            label.checkbox
                input(type='checkbox',value='remember-me') 
                | Remember me
            button#btn-login.btn.btn-success(type='submit')
                | Sign in
            button#btn-sign-up.btn.right-button
                | Sign up
        
block scripts
    script(type='text/javascript', src='/assets/js/login.js')
