extends layout

block title
    | new resume
append head
    //- link(rel='stylesheet', href='/static/css/new-resume.css')
    link(rel='stylesheet', href='/assets/vendor/bootstrap/css/datetimepicker.css')
    link(rel='stylesheet', href='/static/css/new-resume.css')                        

append scripts
    script(type='text/javascript', src='/assets/vendor/bootstrap/js/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.js')
    script(type='text/javascript', src='/assets/vendor/jquery/jquery.validate.messages_cn.js')
    script(type='text/javascript', src='/assets/js/new-resume.js')
        
block main-content
    article.container
            section.row.row-style.row-padding-bottom
                div.span12.padding-nav-top
                    form#new-resume-form(action='/resumes/new', method='POST')
                        div.span4.offset4.margin-btm
                            h1 
                                | Basic Info
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-name') Name:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-edit
                                        input#new-name(type='text',size='22',name='resume_name')
                        div.span5
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-email') Email:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-envelope
                                        input#new-email(type='text',size='22',name='email')
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-age') Age:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-edit
                                        input#new-age(type='text',size='22',name='age')
                        div.span5
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-address') Address:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-home
                                        input#new-address(type='text',size='22',name='address')
                            
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label
                                        | Gender:
                                div.span1.radio-width.label-margin-top
                                    label.radio.gender
                                        input(type='radio',name='genderRadios',value='男',checked)
                                        | 男
                                div.span1.radio-width.next-radio.label-margin-top
                                    label.radio.gender
                                        input(type='radio',name='genderRadios',value='女')
                                        | 女

                        div.span4.offset4.margin-btm
                            h1 
                                | Education
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-university') University:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-home
                                        input#new-university(type='text',name='university')
                        div.span5
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-university-major') Major:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-thumbs-up
                                        input#new-university-major(type='text',name='university_major')
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-university-period-from') From:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-calendar
                                        input#new-university-period-from.form_datetime(type='text',name='university_period_from',readonly)
                        div.span5
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-university-period-to') To:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-calendar
                                        input#new-university-period-to.form_datetime(type='text',name='university_period_to',readonly)

                        div.span4.offset4.margin-btm
                            h1 
                                | Projects
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-company') Company:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-home
                                        input#new-company(type='text',name='company')
                        div.span5.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-company-period-from') From:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-calendar
                                        input#new-company-period-from.form_datetime(type='text',name='company_period_from',readonly)
                        div.span5
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-company-period-to') To:
                                div.span4.controls
                                    div.input-prepend
                                        span.add-on
                                            i.icon-calendar
                                        input#new-company-period-to.form_datetime(type='text',name='company_period_to',readonly)
                        div.span10.offset1
                            div.row
                                div.span1.label-margin-top
                                    label(for='new-company-description') Description:
                                div.span8
                                    textarea#new-company-description(type='text',name='company_description',rows="5",style="width:733px")
                        button#btn-new-resume-submit.btn.btn-primary save
