extends account-layout

block title
    | change password

block main-content
    div.container
        form#change-password-form.form-signin(action='/account/password',method='POST')
            h1
                | Password
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-envelope
                        input#input-email.input-block-level(type='text',name="email",value='#{email}',readonly)
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-old-password.input-block-level(type='password',placeholder='Old Password',name="old_password")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password1.input-block-level(type='password',placeholder='Password',name="password1")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password2.input-block-level(type='password',placeholder='Password Again',name="password2")
            if (messagePassword!=='')
                div.alert.alert-error.error-message
                    button.close(data-dismiss='alert')
                        &times;
                    strong
                        | #{messagePassword}
            button#btn-change-password.btn.btn-success(type='submit')
                | Submit
            button#btn-back.btn.right-button
                | Back
        
block scripts
    script(type='text/javascript', src='/assets/js/password.js')
