extends account-layout

block title
    | change password

block main-content
    div.container
        form#change-password-form.form-signin(action='/password',method='POST')
            h1
                | Password
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-envelope
                        input#input-email.input-block-level(type='text',name="email",value='#{email}',readonly)
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-old-password.input-block-level(type='password',placeholder='Old Password',name="old_password")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-new-password.input-block-level(type='password',placeholder='Password',name="new_password")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-new-password-again.input-block-level(type='password',placeholder='Password Again',name="new_password_again")
            if (errMessage!=='')
                div.alert.alert-error.error-message
                    button.close(data-dismiss='alert')
                        &times;
                    strong
                        | #{errMessage}
            button#btn-change-password.btn.btn-success(type='submit')
                | Submit
            a.btn.right-button(href='/resumes')
                | Back
        
block scripts
    script(type='text/javascript', src='/assets/js/password.js')
