extends account-layout

block title
    | sign up

block main-content
    div.container
        form#sign-up-form.form-signin(action='/account/sign_up',method='POST')
            h2.form-signin-heading
                | Please sign up
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-envelope
                        input#input-email.input-block-level(type='text',placeholder='Email',name="email")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-edit
                        input#input-name.input-block-level(type='text',placeholder='Name',name="name")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password1.input-block-level(type='password',placeholder='Password',name="password1")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password2.input-block-level(type='password',placeholder='Password Again',name="password2")
            button#btn-sign-up.btn.btn-success(type='submit')
                | Sign up
            button#btn-login.btn.right-button
                | Login
        
block scripts
    script(type='text/javascript', src='/assets/js/sign-up.js')