extends account-layout

block title
    | sign up

block main-content
    div.container
        form#sign-up-form.form-signin(action='/sign_up',method='POST')
            h1
                | Sign up
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-envelope
                        input#input-email.input-block-level(type='text',placeholder='Email',name="email")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-edit
                        input#input-name.input-block-level(type='text',placeholder='Name',name="name")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password.input-block-level(type='password',placeholder='Password',name="password")
            div.controls
                    div.input-prepend
                        span.add-on
                            i.icon-lock
                        input#input-password-again.input-block-level(type='password',placeholder='Password Again',name="password_again")
            if (errMessage!=='')
                div.alert.alert-error.error-message
                    button.close(data-dismiss='alert')
                        &times;
                    strong
                        | #{errMessage}
            button#btn-sign-up.btn.btn-success(type='submit')
                | Sign up
            a.btn.right-button(href='/login')
                | Login
        
block scripts
    script(type='text/javascript', src='/assets/js/sign-up.js')